<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Functional.All" version="1.18.0" />
  <package id="Functional.AsyncEnumerables" version="1.18.0" />
  <package id="Functional.Common.Extensions" version="1.18.0" />
  <package id="Functional.Enumerables.Extensions" version="1.18.0" />
  <package id="Functional.Primitives" version="1.18.0" />
  <package id="Functional.Primitives.AsyncEnumerables" version="1.18.0" />
  <package id="Functional.Primitives.Extensions" version="1.18.0" />
  <package id="Functional.Unions" version="1.18.0" />
  <package id="Functional.Unions.AsyncEnumerables" version="1.18.0" />
  <package id="Functional.Unions.Extensions" version="1.18.0" />
</packages>